body {
  background-color: rgba(23, 56, 37, 0.712);
  background-size: cover;
  background-repeat: repeat-x;
  background-image: url('https://images.theconversation.com/files/45159/original/rptgtpxd-1396254731.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1356&h=668&fit=crop');
}

#root {
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  width: 100vw;
  justify-content: center;
}

.app {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.queryForm {
  margin: 5px;
}

.inputs {
  color: rgb(48, 71, 58);
  padding: 10px;
  margin-top: 5px;
  font-family: "cursive", Brush Script MT;
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  border-width: 2;
  border-style: dashed;
  border-color: black;
  background-color: rgba(240, 231, 231, 0.247);
}

.addForm {
  margin-top: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.addForm span {
  display: flex;
  justify-content: space-evenly;
}

.titleStyles {
  width: 600px;
  height: 40px;
}

.updateButton {
  text-align: center;
  margin: 5px;
}